version: 2

repo:
  public: c-client-sdk
  private: c-client-sdk-private

jobs:
  - circleCI:
      linux:
        image: ldcircleci/ld-c-sdk-ubuntu:2  # defined in sdks-ci-docker project
    env:
      LD_LIBRARY_FILE_PREFIX: linux-gcc-64bit
  - circleCI:
      mac:
        xcode: "12.5.0"
    env:
      LD_LIBRARY_FILE_PREFIX: osx-clang-64bit
  - circleCI:
      windows: {}  # the {} means "we want to specify windows here, but no special parameters within it"
    env:
      LD_LIBRARY_FILE_PREFIX: windows-vs-64bit

documentation:
  title: LaunchDarkly Client-Side SDK for C/C++
  gitHubPages: true

sdk:
  displayName: "C/C++ (client-side)"
